@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

body {
  font-family: var(--font-geist-sans), sans-serif;
  margin: 0;
  padding: 0;
  width:1000;
  height: 1000;
  background-color: brown;
  background-image: url('/bg.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
